<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Book Management</title>
</head>
<link href="../css/materialize.min.css" type="text/css" rel="stylesheet">
<link href="../css/custom.css" type="text/css" rel="stylesheet">
<body>
<div class="container">
    <h3 class="center">Book Management</h3>
    <hr>
    <div class="row pt-5">
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-content  green white-text center clickable" id="add-new_entry-btn">
                    <h5 class="card-stats-title py-2"><i class="mdi-content-add"></i> Add New Book</h5>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-content pink lighten-1 white-text center clickable" id="view-all-btn">
                    <h5 class="card-stats-title py-2"><i class="mdi-action-list"></i> Show All Books</h5>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <a href="#search-model" class="modal-trigger">
                    <div class="card-content blue-grey white-text center clickable">
                        <h5 class="card-stats-title py-2"><i class="mdi-action-search"></i> Search Book</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="search-model" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="input-field col s12">
                <input id="title" type="text" name="search" class="validate">
                <label for="title" class="active">Search</label>
            </div>
        </div>
    </div>
    <div class="modal-footer green ">
        <button type="submit" id="search-entry" class=" white-text modal-action modal-close waves-effect waves-green btn-flat">Search</button>
    </div>
</div>
<div class="lean-overlay"></div>
<script src="../js/jquery.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
<script src = "../js/materialize.min.js" ></script>
<script src="../js/custom.js"></script>

</body>
</html>
