<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>All Books</title>
</head>
<link href="../css/bootstrap.min.css" type="text/css" rel="stylesheet">
<body>
<div class="container">
    <h3 class="text-center">Books List</h3>
    <hr>
    <div id="list-page">
        <p><a class="btn btn-primary btn-lg" id="list-back-btn" href="#">Back</a></p>
        <div class="row my-4">
            <div class="col-sm-12">
                <table class="table table-striped table-hover table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"></th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Topic</th>
                        <th scope="col">Year</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">Sub Topic</th>
                    </tr>
                    </thead>
                    <tbody>
                    <script id="list-template" type="text/x-handlebars-template">
                        <tr>
                            <th scope="row">{{ counter }}</th>
                            <th scope="row">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" name="counter_{{ id }}" type="checkbox"
                                               value="{{ id }}">
                                        &nbsp;</label>
                                </div>
                            </th>
                            <td><a class="update-data" href="#" data-id="{{ id }}">{{ title }}</a> </td>
                            <td>{{ author }}</td>
                            <td>{{ topic }}</td>
                            <td>{{ year }}</td>
                            <td>{{ isbn }}</td>
                            <td>{{ sub_topic }}</td>
                        </tr>
                    </script>
                    </tbody>
                </table>
                <input class="btn btn-primary btn-lg" id="delete-selected" type="submit" value="Delete Seleted">
            </div>
        </div>
    </div>
</div>
<script src="../js/jquery.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
<script src = "../js/popper.min.js" ></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/custom.js"></script>

</body>
</html>
