<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>All Books</title>
</head>
<link href="../css/materialize.min.css" type="text/css" rel="stylesheet">
<link href="../css/custom.css" type="text/css" rel="stylesheet">

<body>
<div class="container">
    <h3 class="center ">Books List</h3>
    <hr>
    <div id="list-page">
        <p><a class="btn btn-primary btn-lg" id="list-back-btn" href="#">Back</a></p>
        <div class="row my-4">
            <div id="card-alert-success" class="card alert green lighten-5 " style="display: none">
                <div class="card-content green-text">
                    <p>Entry Successfully deleted</p>
                </div>
                <button type="button" class="close green-text" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="card-alert-error" class="card alert red lighten-5 " style="display: none">
                <div class="card-content red-text">
                    <p>You need to check checkbox of row</p>
                </div>
                <button type="button" class="close red-text" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="col-sm-12">
                <table class="table bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col"></th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Topic</th>
                        <th scope="col">Year</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">Sub Topic</th>
                    </tr>
                    </thead>
                    <tbody>
                    <script id="list-template" type="text/x-handlebars-template">
                        <tr>
                            <th scope="row">{{ counter }}</th>
                            <th scope="row">
                                <input type="checkbox" name="counter_{{ id }}" value="{{ id }}" class="filled-in" id="filled-in-{{ id }}" >
                                <label for="filled-in-{{ id }}"></label>
                            </th>
                            <td><a class="update-data" href="#" data-id="{{ id }}">{{ title }}</a> </td>
                            <td>{{ author }}</td>
                            <td>{{ topic }}</td>
                            <td>{{ year }}</td>
                            <td>{{ isbn }}</td>
                            <td>{{ sub_topic }}</td>
                        </tr>
                    </script>
                    </tbody>
                </table>
                <input class="btn pt-1" id="delete-selected" type="submit" value="Delete Seleted">
            </div>
        </div>
    </div>
</div>
<script src="../js/jquery.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
<script src="../js/materialize.min.js"></script>
<script src="../js/custom.js"></script>

</body>
</html>
