<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>All Books</title>
</head>
<link href="../css/materialize.min.css" type="text/css" rel="stylesheet">
<link href="../css/custom.css" type="text/css" rel="stylesheet">

<body>
<div class="container">
    <h3 class="center">Search Book</h3>
    <hr>
    <div id="add-page">
        <p><a class="btn btn-primary btn-lg" id="list-back-btn" href="#">Back</a></p>
        <div class="row">
            <div class="input-field col s6 offset-s3">
                <input id="title" type="text" name="search" class="validate">
                <label for="title" class="active">Search</label>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col s12 center ">
                <button class="btn waves-effect waves-light " id="search-entry">Search</button>
            </div>
        </div>
    </div>
</div>
<script src="../js/jquery.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
<script src="../js/materialize.min.js"></script>
<script src="../js/custom.js"></script>

</body>
</html>
